
<div *ngIf="heroCourant.id!=0; else formHeroTemplate">
<mat-card class="hero-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>{{heroCourant.nom}}</mat-card-title>
    <mat-card-subtitle>{{heroCourant.puissance}}</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image  src="https://keyword-hero.com/wp-content/uploads/2017/04/contact-the-hero-768x558.png" alt="Photo of a hero">
  <mat-card-content>
    <p>
      {{heroCourant.description}}
    </p>
  </mat-card-content>

</mat-card>
</div>

<ng-template #formHeroTemplate>
  <div>
  <p>
  <mat-form-field class="example-full-width">
    <mat-label>Nom du héro</mat-label>
    <input matInput placeholder="Nom" [(ngModel)]="heroCourant.nom">
  </mat-form-field>
</p>
<p>
  <mat-form-field class="example-full-width">
    <mat-label>Description</mat-label>
    <input matInput placeholder="description" [(ngModel)]="heroCourant.description">
  </mat-form-field>
</p>
  <p>
  <mat-form-field class="example-full-width">
    <mat-label>Puissance du héro</mat-label>
    <input matInput placeholder="Puissance" [(ngModel)]="heroCourant.puissance">
  </mat-form-field>
</p>
<button   mat-raised-button color="primary" (click)="createHero()">Créer</button>
</div>
</ng-template>



