

<ul>
<li *ngFor="let hero of heroes">
  <app-hero [heroCourant]="hero" (newHero)="addHero($event)"></app-hero>

</li>

</ul>
<app-hero [heroCourant]="heroTemp"  (newHero)="addHero($event)"></app-hero>
