<h1>{{titre}}</h1>
<h1>{{nombreDeClient}}</h1>

<button [disabled]="status" name="bouton" (click)="changeMe()">OK</button>

<input type="checkbox" nom="check" [(ngModel)]="status"/>

<app-todolist></app-todolist>
