<p>todolist works!:</p>
<input name="id" [(ngModel)]="tache1.id"/>
<input name="nom" [(ngModel)]="tache1.nom"/>
<button (click)="CreerTache()">Ajouter une tâche</button>
<ul>
<li *ngFor="let todo of todos">
  <app-todo [tache]="todo" (sortie)="exitFromTodo($event)"></app-todo>
</li>

</ul>

<mat-slider min="1" max="5" step="0.5" value="1.5"></mat-slider>
